.NavBar {
  display: flex;
  padding: 16px 18px;
  border-top: solid 1px var(--color-border-task);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.NavBar__button {
  padding: 0;
  background-color: transparent;
  color: var(--color-menu-inactive);
  border: none;
  flex: 1;
  font-size: var(--typography-NavBar-button);
  font-weight: 400;
}
